{{> head }}

{{> navbar }}

<div class="row" border="1">
    <div class="col-8">
        <h1>Curso Node.js </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro harum, quia provident dolores quaerat veniam repudiandae alias soluta dolorem voluptatem saepe, vero beatae quis nesciunt odit culpa quibusdam recusandae sed!</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/node.jpg" alt="" class="img-thumbnail">
    </div>
</div>


{{> footer }}